// Custom Text
.text-black {
    color: $color-black !important;
}

.text-white {
    color: white !important;
}

.text-grey {
    color: $color-grey !important;
}

.text-grey-dark {
    color: $color-grey-dark !important;
}

.text-blue {
    color: $color-blue !important;
}

.text-red {
    color: $color-red !important;
}

.text-cyan {
    color: $color-cyan !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-left {
    text-align: left !important;
}

// Margin Top
.margin-top-auto {
    margin-top: auto !important;
}

.margin-top-xs {
    margin-top: 1rem !important;
}

.margin-top-s {
    margin-top: 2rem !important;
}   

.margin-top-m {
    margin-top: 3.5rem !important;
}

.margin-top-l {
    margin-top: 5rem !important;
}

.margin-top-xl {
    margin-top: 12rem !important;
}

.margin-top-xxl {
    margin-top: 15rem !important;
}

// Margin Bottom
.margin-bottom-auto {
    margin-bottom: auto !important;
}

.margin-bottom-xs {
    margin-bottom: 1rem !important;
}

.margin-bottom-s {
    margin-bottom: 2rem !important;
}

.margin-bottom-m {
    margin-bottom: 3.5rem !important;
}

.margin-bottom-l {
    margin-bottom: 5rem !important;
}

.margin-bottom-xl {
    margin-bottom: 12rem !important;
}

.margin-bottom-xxl {
    margin-bottom: 15rem !important;
}

// Margin left
.margin-left-s {
    margin-left: 2rem !important;
}

.margin-left-m {
    margin-left: 3.5rem !important;
}

.margin-left-l {
    margin-left: 5rem !important;
}

.margin-left-xl {
    margin-left: 7rem !important;
}

// Margin right
.margin-right-s {
    margin-right: 2rem !important;
}

.margin-right-m {
    margin-right: 3.5rem !important;
}

.margin-right-l {
    margin-right: 5rem !important;
}

// Width
.width-60 {
    width: 60% !important;
}

.width-50 {
    width: 50% !important;
}

.width-40 {
    width: 40% !important;
}

.width-max {
    width: max-content !important;
}

// Align self
.align-self-start {
    align-self: flex-start !important;
}

.align-self-center {
    align-self: center !important;
}

.align-self-end {
    align-self: flex-end !important;
}

// Justify self
.justify-self-start {
    justify-self: flex-start !important;
}

.justify-self-center {
    justify-self: center !important;
}

.justify-self-end {
    justify-self: flex-end !important;
}
