.contact {
    padding-top: 20rem;
    display: grid;
    grid-template-columns: 1fr minmax(min-content, 65vw) 1fr;
    overflow: hidden;
    margin-top: -11rem;
    z-index: 1;
    background-color: white !important;
    height: max-content;

    > *:first-child {
        padding-top: 0 !important;
        background-color: white !important;
    }

    &__image {
        border: 1px solid $color-grey;
        width: 40rem;
        height: 40rem;

        @include respond(tab-land) {
            width: 35rem;
            height: 35rem;
        }

        @include respond(tab-port) {
            width: 30rem;
            height: 30rem;
        }
    }

    &__media-content {
        @include respond(phone) {
            width: 100% !important;
        }

        & * {
            @include respond(tab-port) {
                text-align: center !important;
            }
        }
    }

    &__heading {
        @include respond(tab-port) {
            margin-right: auto;
            margin-left: auto;
        }

        @include respond(phone) {
            width: max-content !important;
            margin-right: auto;
            margin-left: auto;
        }
    }
}