.button {
    @extend %utility;

    border-radius: 1rem;
    border: 1px solid $color-black;
    padding: .8rem 2.4rem;
    width: max-content;

    &:focus {
        outline: none;
    }
}

.button--white {
    color: $color-black !important;
    background-color: white !important;
    border-color: $color-grey;
}

.button--borderless {
    padding: 0 !important;
    border: none !important;
}

.button--red {
    color: white !important;
    background-color: $color-red !important;
    border: none;
}