.card-wrapper {
    
    &--flex {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        
        &.evenly {
            justify-content: space-evenly;
        }

        &.center {
            justify-content: center;
        }

        & > * {
            margin-bottom: 3rem;
        }
    }

    &--grid {

        &-xs {
            display: grid;
            grid-template-columns: repeat(5, minmax(min-content, 20rem));
            grid-row-gap: 2rem;
            grid-column-gap: 2rem;
            justify-content: center;
            align-items: center;
        }

        &-s {
            display: grid;
            grid-template-columns: repeat(3, minmax(min-content, 30rem));
            grid-row-gap: 2rem;
            grid-column-gap: 2rem;
            justify-content: center;
            align-items: center;
        }
        
        &-m {
            display: grid;
            grid-template-columns: repeat(3, minmax(min-content, 30rem));
            grid-row-gap: 2rem;
            grid-column-gap: 2.5rem;
            justify-content: center;
            align-items: center;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;

    
    &-xs {
        width: 20rem !important;
        height: 20rem !important;
    }

    &-s {
        width: 17rem !important;
        padding: 3rem 1.5rem;
        background-color: white;
    }

    &-m {
        width: 25rem !important;
        padding: 4rem 2rem;
        background-color: white;
    }

    &-xl {
        width: 45rem !important;
        height: 55rem !important;
        border-radius: 2rem;
        padding: 7rem;
    }

    &-xxl {
        width: 65rem !important;
        height: 60rem !important;
        padding: 7rem 5rem;
    }


    &__image {

        @extend %card-img;
        
        &--xs {
            width: 100% !important;
            height: 100% !important;
        }

        &--s {
            width: 5rem;
            height: 3rem;
            border-radius: 1rem;
        }

        &--gallery {
            width: 32rem !important;
            height: 20rem !important;
        }
    
    }
        
    
}