.cta {
    @extend %utility;

    border-radius: 1.5rem;
    border: 1px solid $color-black;
    padding: .8rem 2.4rem;
    width: max-content;

    &:hover {
        text-decoration: none;
    }
}

.cta--white {
    color: $color-black !important;
    background-color: white !important;
    border-color: $color-grey;
}