// Single link

.link:link,
.link:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    // height: 100%;
    cursor: pointer;
    list-style-type: none;
    word-wrap: none;
}

.link:hover{
    cursor: pointer;
}

// Vertical lists of links

.link-item-wrapper {
    list-style-type: none;
    margin-bottom: 0;

    > * {
        text-align: left;
    }

    > *:not(:last-child) {
        margin-bottom: .7rem;

        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }

    @include respond(tab-port) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    > * {
        @include respond(tab-port) {
            text-align: center;
            margin-bottom: 2.5rem !important;
        }

        @include respond(phone) {
            width: 50%;
            margin-bottom: 2rem !important;
        }
    }
}

.link-item:link,
.link-item:visited {
    text-decoration: none;
}

.link-item:hover{
    color: $color-black;
    cursor: pointer;
}

.link-item--active {
    color: $color-black !important;
}