.media {
    max-width: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    align-self: center !important;

    &-container {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }
}

.media-left {
    justify-self: start !important;
}

.media-right {
    justify-self: end !important;
}