.pagination {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem !important;

    > *:not(:last-child) {
        margin-right:1.5rem;
    }
}

.page {

    &:link,
    &:visited {
        font-family: $font-body;
        color: $color-grey;
        font-size: 1.2rem;
        text-decoration: none;
        cursor: pointer;
        word-wrap: none;
    }

    &--active {
        font-family: $font-heading !important;
        color: $color-black !important;
        font-size: 1.4rem !important;
    }

    &--disabled {
        pointer-events: none;
    }

    &-item {
        font-size: 1.5rem !important;

        @include respond(phone) {
            font-size: 2rem !important;
        }
    }
}