@font-face {
  font-family: Gilroy Bold;
  src: url("/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: Gilroy Black Italic;
  src: url("/fonts/Gilroy-BlackItalic.ttf");
}

@font-face {
  font-family: Gilroy Heavy Italic;
  src: url("/fonts/Gilroy-HeavyItalic.ttf");
}

@font-face {
  font-family: Avenir Next Regular;
  src: url("/fonts/AvenirNext-Regular.otf");
}

@font-face {
  font-family: Avenir Next Bold;
  src: url("/fonts/AvenirNext-Bold.otf");
}

.heading-caps,
.heading-1,
.heading-2,
.heading-3,
.subheading {
  font-family: "Gilroy Bold", "sans-serif";
  color: #051995;
  margin-bottom: 0;
}

.card__image {
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.input,
.button,
.select__trigger,
.select-option {
  font-family: Avenir Next Regular;
  display: inline-block;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: normal !important;
  -webkit-appearance: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  width: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  width: 100%;
  background-color: #EBEBED;
  font-family: "Gilroy Bold", "sans-serif" !important;
  overflow-x: hidden;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-caps {
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.heading-1 {
  font-size: 4.5rem;
  letter-spacing: 4px;
}

.heading-2 {
  font-size: 3.5rem;
  letter-spacing: 2px;
}

.heading-3 {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.subheading {
  font-size: 2rem;
  letter-spacing: 2px;
}

.text-bold {
  font-family: Avenir Next Bold;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #858586;
  margin-bottom: 0 !important;
}

.text-regular {
  font-family: Avenir Next Regular;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #858586;
  margin-bottom: 0 !important;
}

.text-black {
  color: #111111 !important;
}

.text-white {
  color: #EBEBED !important;
}

.text-grey {
  color: #858586 !important;
}

.text-grey-dark {
  color: #5d5d5d !important;
}

.text-blue {
  color: #051995 !important;
}

.text-red {
  color: #D02344 !important;
}

.text-cyan {
  color: #1E9EF1 !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.margin-top-xs {
  margin-top: 1rem !important;
}

.margin-top-s {
  margin-top: 2rem !important;
}

.margin-top-m {
  margin-top: 3.5rem !important;
}

.margin-top-l {
  margin-top: 5rem !important;
}

.margin-top-xl {
  margin-top: 12rem !important;
}

.margin-top-xxl {
  margin-top: 15rem !important;
}

.margin-bottom-xs {
  margin-bottom: 1rem !important;
}

.margin-bottom-s {
  margin-bottom: 2rem !important;
}

.margin-bottom-m {
  margin-bottom: 3.5rem !important;
}

.margin-bottom-l {
  margin-bottom: 5rem !important;
}

.margin-bottom-xl {
  margin-bottom: 12rem !important;
}

.margin-bottom-xxl {
  margin-bottom: 15rem !important;
}

.margin-left-s {
  margin-left: 2rem !important;
}

.margin-left-m {
  margin-left: 3.5rem !important;
}

.margin-left-l {
  margin-left: 5rem !important;
}

.margin-left-xl {
  margin-left: 7rem !important;
}

.margin-right-s {
  margin-right: 2rem !important;
}

.margin-right-m {
  margin-right: 3.5rem !important;
}

.margin-right-l {
  margin-right: 5rem !important;
}

.width-60 {
  width: 60% !important;
}

.width-50 {
  width: 50% !important;
}

.width-40 {
  width: 40% !important;
}

.width-max {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-center {
  align-self: flex-end !important;
}

.justify-self-start {
  justify-self: flex-start !important;
}

.justify-self-center {
  justify-self: center !important;
}

.link:link,
.link:visited {
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}

.link-item:link,
.link-item:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 100%;
  cursor: pointer;
}

.link-item:hover {
  cursor: pointer;
}

.logo {
  width: 100%;
}

.logo-box {
  width: 11rem;
}

.media {
  max-width: 100%;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  align-self: center !important;
}

.media__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7.5rem 0;
}

.media-left {
  justify-self: start !important;
}

.media-right {
  justify-self: end !important;
}

.card-wrapper--flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card-wrapper--flex > * {
  margin-bottom: 2rem;
}

.card-wrapper--grid-m {
  display: grid;
  grid-template-columns: repeat(3, minmax(-webkit-min-content, 30rem));
  grid-template-columns: repeat(3, minmax(min-content, 30rem));
  grid-row-gap: 2rem;
  grid-column-gap: 2.5rem;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
}

.card-s {
  width: 17rem !important;
  padding: 3rem 1.5rem;
  background-color: white;
}

.card-m {
  width: 25rem !important;
  padding: 4rem 2rem;
  background-color: white;
}

.card-xl {
  width: 45rem !important;
  height: 55rem !important;
  padding: 7rem;
}

.card__image--s {
  width: 5rem;
  height: 3rem;
  border-radius: 1rem;
}

.background-image {
  position: absolute;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.input {
  display: block;
  width: 100%;
  color: #111111;
  padding: 1rem 0;
  border: none;
  border-bottom: 1px solid #858586;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid #111111;
}

.input-file-label {
  text-align: left;
  cursor: pointer;
  color: #858586;
  margin-bottom: 0 !important;
}

input[type="file"] {
  display: none;
}

.button {
  border-radius: 1rem;
  border: 1px solid #111111;
  padding: .8rem 2.4rem;
}

.button--white {
  color: #111111 !important;
  background-color: white !important;
}

.button--borderless {
  padding: 0 !important;
  border: none !important;
}

.collapsible {
  width: 100%;
}

.collapsible__arrow {
  background-image: url("/assets/arrow-right.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(90deg);
  position: relative;
  height: 1rem;
  width: 1rem;
  transition: all 0.5s;
}

.collapsible__button.collapsed .collapsible__arrow {
  transform: rotate(0deg);
  transition: all 0.5s;
}

.collapsible__button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #111111;
  padding: 1rem 0;
  border: none;
  border-bottom: 1px solid #858586;
  cursor: pointer;
}

.collapsible__button:focus {
  outline: none !important;
}

.collapsible__content {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: none;
}

.collapsible--active {
  background-color: red;
}

.select {
  position: relative;
  display: flex;
  flex-direction: column;
  border-width: 0 0 1px 0px;
  border-style: solid;
  border-color: #858586;
}

.select.open .select-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.select-wrapper {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
}

.select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  background: #ffffff;
  cursor: pointer;
  color: #858586;
}

.select-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border-width: 0 0 1px 0px;
  border-style: solid;
  border-color: #858586;
  background: #fff;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.select-option {
  position: relative;
  display: block;
  padding: 1rem 0;
  color: #111111;
  cursor: pointer;
  transition: all 0.5s;
}

.select-option:hover {
  cursor: pointer;
  background-color: #d3d3d3;
}

.select-option.selected {
  color: #111111;
  background-color: #d3d3d3;
}

.arrow {
  background-image: url("/assets/arrow-right.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  height: 1rem;
  width: 1rem;
  transition: all 0.5s;
}

.open .arrow {
  transform: rotate(90deg);
  transition: all 0.5s;
}

.header {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 2.5rem 10rem;
  z-index: 100;
}

.header > * {
  height: 100%;
}

.header__link-box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__link-box > * {
  height: 100%;
}

.header__link-box > *:not(:last-child) {
  margin-right: 4.5rem;
}

.header__util {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
}

.header__util > * {
  display: flex;
  align-items: center;
  height: 100%;
}

.footer {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-top: 1px solid #858586;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 6rem 10rem;
  z-index: 100;
}

.footer > * {
  height: 100%;
}

.landing-banner {
  grid-row: banner-start / banner-end;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.landing-banner__content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.landing-banner__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100% !important;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}

.landing-banner__carousel-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-banner__geometry--blue {
  width: 28rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  transform: translate(20%, -30%);
}

.landing-banner__geometry--red {
  width: 50rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  transform: translate(-50%, 50%);
}

.landing-about {
  padding: 13rem 0;
  background-color: #EBEBED;
  position: relative;
  border-bottom: 1px solid #858586;
  display: grid;
  grid-template-columns: 1fr minmax(-webkit-min-content, 65vw) 1fr;
  grid-template-columns: 1fr minmax(min-content, 65vw) 1fr;
  overflow: hidden;
}

.landing-about__content {
  grid-column: 2 / 3;
  z-index: 10;
  display: flex;
}

.landing-about__video {
  width: 55rem;
}

.landing-about__media-container {
  display: inline-block;
  position: relative;
  width: 250%;
}

.landing-about__about-text {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-top: 1.5rem;
  border-top: 0.5rem solid #D02344;
}

.landing-about__geometry--red-circle {
  width: 13.5rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-60%, -40%);
}

.landing-about__geometry--blue-wave {
  width: 20rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(20%, 150%);
}

.landing-about__geometry--white-circle {
  width: 55rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(30%, 35%);
}

.landing-matlom {
  padding: 10rem 0;
  background-color: #EBEBED;
  position: relative;
  border-bottom: 1px solid #858586;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.landing-matlom__content {
  width: 60%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-matlom__card-image {
  display: inline-block;
  width: 5rem !important;
  height: 4rem !important;
  border-radius: 2px;
  background-color: #EBEBED;
}

.landing-matlom__geometry--dots {
  width: 15rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 20rem);
}

.landing-matlom__geometry--circle {
  z-index: 20;
  width: 25rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(10%, 20%);
}

.landing-matlom__geometry--rectangle {
  width: 35rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(30%, -15rem);
}

.landing-register {
  padding: 10rem 0;
  background-color: #EBEBED;
  position: relative;
  border-bottom: 1px solid #858586;
  display: grid;
  grid-template-columns: 1fr minmax(-webkit-min-content, 65vw) 1fr;
  grid-template-columns: 1fr minmax(min-content, 65vw) 1fr;
  overflow: hidden;
}

.landing-register__content {
  grid-column: 2 / 3;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.landing-register__card-wrapper {
  position: relative;
}

.landing-register__card-wrapper > * {
  z-index: 10;
}

.landing-register__card-image {
  display: inline-block;
  width: 8rem !important;
  height: 8rem !important;
  border-radius: 50%;
  background-color: #EBEBED;
}

.landing-register__geometry--circle {
  z-index: 20;
  width: 25rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10%, -80%);
}

.landing-register__geometry--boxes {
  width: 17rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(60%, -65%);
  z-index: 5;
}

.landing-register__geometry--triangle {
  width: 25rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(10%, 10%);
}

.register-main-card {
  border-radius: 2rem;
  position: relative;
}

.register-detail-card {
  position: relative;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50rem !important;
  height: 60rem !important;
  box-shadow: 2rem 1rem 5rem 1rem rgba(17, 17, 17, 0.3);
  transform: translate(100vw, 0);
  transition: all 1s;
}

.register-detail-card.show {
  transform: translate(-5%, 0);
  transition: all 1s;
}

.register-detail-inputs {
  width: 100%;
}

.register-detail-utilities {
  margin-top: auto;
  justify-self: flex-end;
}

.landing {
  width: 100%;
  z-index: 0;
  display: grid;
  grid-template-rows: [banner-start] minmax(-webkit-min-content, 90vh) [banner-end about-start] minmax(-webkit-min-content, 70vh) [about-end matlom-start] minmax(-webkit-min-content, 70vh) [matlom-end register-start] minmax(-webkit-min-content, 70vh) [register-end];
  grid-template-rows: [banner-start] minmax(min-content, 90vh) [banner-end about-start] minmax(min-content, 70vh) [about-end matlom-start] minmax(min-content, 70vh) [matlom-end register-start] minmax(min-content, 70vh) [register-end];
  overflow: hidden;
}

.login {
  padding: 15rem 5rem 9rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: -11rem;
  background-image: url("/images/adolfo-felix.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.login__form-card {
  position: relative;
}

.login__geometry--circle {
  width: 11rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-40%, -30%);
}

.login__geometry--wave {
  width: 17rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(35%, 60%);
}

.register {
  padding: 12rem 5rem 9rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: -11rem;
  background-image: url("/images/adolfo-felix.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.register__form {
  display: flex;
  align-items: center;
}

.register__geometry--square {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 13rem;
  transform: translate(-100vw, -30%);
}

.register__geometry--square.show {
  transform: translate(-40%, 30%);
  transition: all 1.8s;
  transition-delay: 1s;
}

.register__geometry--circle {
  position: absolute;
  top: 0;
  right: 0;
  width: 25rem;
  transform: translate(100vw, -30%);
}

.register__geometry--circle.show {
  transform: translate(80%, -30%);
  transition: all 1.8s;
  transition-delay: 1s;
}

