@font-face {
    font-family: Gilroy Bold;
    src: url('/fonts/Gilroy-Bold.ttf')
}

@font-face {
    font-family: Gilroy Black Italic;
    src: url('/fonts/Gilroy-BlackItalic.ttf')
}

@font-face {
    font-family: Gilroy Heavy Italic;
    src: url('/fonts/Gilroy-HeavyItalic.ttf')
}

@font-face {
    font-family: Avenir Next Regular;
    src: url('/fonts/AvenirNext-Regular.otf')
}

@font-face {
    font-family: Avenir Next Bold;
    src: url('/fonts/AvenirNext-Bold.otf')
}