%heading {
    font-family: $font-heading;
    color: $color-blue;
    margin-bottom: 0;
}

%card-img {
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

%utility {
    font-family: Avenir Next Regular;
    display: inline-block;
    height: max-content;

    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: normal !important;

    -webkit-appearance: none;
}