%heading {
    font-family: $font-heading;
    color: $color-blue;
    margin-bottom: 0;
}

%body-text {
    font-family: $font-body;
    color: $color-grey;
    margin-bottom: 0;
}

%card-img {
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}