// Fonts
$font-heading: 'Gilroy Bold', 'sans-serif';
$font-body: 'Avenir Next Regular', 'sans-serif';

// Colors
$color-white: #EBEBED;
$color-black: #111111;
$color-blue: #051995;
$color-red: #D02344;
$color-cyan: #1E9EF1;
$color-grey: #858586;
$color-grey-light: #f1f1f1;
$color-grey-dark: #5d5d5d;
$color-grey-transparent: #f1f1f1e3;
$color-red-alert: #dc3545;
$color-green-alert: #28a745;

// Section Padding
$section-padding: 13rem 0;
$section-padding-m: 10rem 0;
$section-padding-s: 5rem 0;

// Box Shadow
$box-shadow-l: 2rem 1rem 5rem 1rem rgba(17, 17, 17, .3);


