// Fonts
$font-heading: 'Nunito', 'sans-serif';
$font-body: 'Nunito', 'sans-serif';

// Colors
$color-white: #EBEBED;
$color-black: #111111;
$color-blue: #051995;
$color-red: #D02344;
$color-cyan: #1E9EF1;
$color-grey: #858586;
$color-grey-dark: #303030;

// Section Padding
$section-padding: 13rem 0;
$section-padding-m: 10rem 0;
$section-padding-s: 5rem 0;


