.landing-about {
    padding: $section-padding;
    background-color: $color-white;
    position: relative;
    border-bottom: 1px solid $color-grey;

    display: grid;
    grid-template-columns: 1fr minmax(min-content, 65vw) 1fr;
    overflow: hidden;
    z-index: 2;

    @include respond(tab-land) {
        grid-template-columns: 1fr minmax(min-content, 75vw) 1fr;
    }

    @include respond(phone) {
        grid-template-columns: 1fr minmax(min-content, 85vw) 1fr;
    }

    &__content {
        grid-column: 2 / 3;
        z-index: 10;

        display: flex;

        @include respond(tab-port) {
            flex-direction: column;
        }
    }

    &__video {
        width: 55rem;
        // width: 100%;

        @include respond(tab-port) {
            width: 50rem;
        }

        @include respond(phone) {
            width: 40rem;
        }
    }

    &__media-container {
        display: inline-block;
        position: relative;

        @include respond(tab-port) {
            margin-bottom: 5rem;
            display: flex;
            justify-content: center;
        }
    }

    &__text {
        margin-left: 7rem;

        @include respond(tab-port) {
            width: 100%;
            margin-left: 0;
            text-align: center;
        }

        & > * {
            @include respond(tab-port) {
                align-self: center !important;
            }
        }
    }

    &__about-text {
        width: max-content;
        padding-top: 1.5rem;
        border-top: .5rem solid $color-red;
    }

    &__geometry {
        
        &--red-circle {
            width: 13.5rem;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-60%, -40%);

            @include respond(tab-land) {
                width: 10rem;
            }
        }

        &--blue-wave {
            width: 20rem;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(20%, 150%);

            @include respond(tab-land) {
                width: 17rem;
            }
        }

        &--white-circle {
            width: 55rem;
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(30%, 35%);

            @include respond(tab-land) {
                width: 45rem;
            }

            @include respond(tab-port) {
                width: 37rem;
            }
        }
    }
}