.landing-register {
    padding: $section-padding-m;
    background-color: $color-white;
    position: relative;
    border-bottom: 1px solid $color-grey;

    display: grid;
    grid-template-columns: 1fr minmax(min-content, 65vw) 1fr;
    overflow: hidden;

    @include respond(tab-land) {
        grid-template-columns: 1fr minmax(min-content, 75vw) 1fr;
    }

    @include respond(phone) {
        grid-template-columns: 1fr minmax(min-content, 85vw) 1fr;
    }

    &__arrow {
        @include respond(phone) {
            display: none;
        }
    }

    &__content {
        grid-column: 2 / 3;
        z-index: 10;

        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__card-wrapper {
        position: relative;

        > * {
            z-index: 10;
        }
    }

    &__card-image {
        // temp
        display: inline-block;
        width: 8rem !important;
        height: 8rem !important;
        border-radius: 50%;
        background-color: $color-white;
    }

    &__geometry {
        &--circle {
            z-index: 20;
            width: 25rem;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(10%, -80%);
        }

        &--boxes {
            width: 17rem;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(60%, -65%);
            z-index: 5;
        }

        &--triangle {
            width: 25rem;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translate(10%, 10%);
        }
    }
}