.landing-banner {
    grid-row: banner-start / banner-end;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important; 
    z-index: 1;

    &__content {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;

        @include respond(tab-land) {
            padding-top: 8rem;
            align-items: flex-start;
        }

        @include respond(tab-port) {
            padding-top: 6rem;
            align-items: flex-start;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100% !important;
        object-fit: cover;
        background-position: center;
        overflow: hidden;

        @include respond(tab-land) {
            max-width: 100% !important;
            height: 100% !important;
        }
    }

    &__carousel {

        &-text {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            & > p {
                width: 40%;

                @include respond(phone) {
                    width: 70%;
                }
            }
        }
    }

    &__geometry--blue {
        width: 28rem;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
        
        transform: translate(20%, -30%);

        @include respond(tab-land) {
            width: 20rem;
        }

        @include respond(phone) {
            width: 15rem;
        }
    }

    &__geometry--red {
        width: 50rem;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 5;

        transform: translate(-50%, 50%);

        @include respond(tab-land) {
            width: 40rem;
            transform: translate(-50%, 50%);
        }

        @include respond(tab-port) {
            transform: translate(-50%, 50%);
        }

        @include respond(phone) {
            width: 25rem;
        }
    }
}