.landing-timeline {
    padding: $section-padding;
    background-color: $color-white;
    position: relative;
    border-bottom: 1px solid $color-grey;

    display: grid;
    grid-template-columns: 1fr minmax(min-content, 65vw) 1fr;
    overflow: hidden;
    z-index: 2;

    @include respond(tab-land) {
        grid-template-columns: 1fr minmax(min-content, 75vw) 1fr;
    }

    @include respond(phone) {
        grid-template-columns: 1fr minmax(min-content, 85vw) 1fr;
    }

    &__content {
        grid-column: 2 / 3;
        z-index: 10;

        display: flex;
    }
}