.museum-banner {
    grid-column: 2 / 3;
    width: 100%;

    &__media {
        width: 40rem;

        @include respond(tab-land) {
            width: 35rem;
            height: 35rem;
        }

        @include respond(tab-port) {
            width: 30rem;
            height: 30rem;
        }

        @include respond(phone) {
            width: 25rem;
            height: 25rem;
        }


        &-container {
            position: relative;
        }

        &-heading {
            position: relative;
            z-index: 90;

            & > div {
                z-index: 90;
            }

            & > img {
                z-index: -1;
            }

            &.adaptive {
                width: max-content;
            }
        }
    }

    &__geometry {
        
        &--triangle {
            width: 25rem;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            transform: translate(-25%, 35%);

            @include respond(tab-port) {
                display: none;
            }
        }

        &--circle {
            width: 15rem;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            transform: translate(65%, -60%) !important;

            @include respond(tab-port) {
                width: 10rem;
            }
        }
    }
}